<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_object.name }}</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_object.name }}</h1>
            <p><a href="{% url 'todo_list_update' todo_object.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>

                    {% for todo in todo_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todo.id %}">{{ todo.task }}</a></td>
                        <td>{{ todo.due_date }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
